header {
    background: rgb(218,37,28);
    background: linear-gradient(180deg, rgba(218,37,28,1) 13%, rgba(143,3,3,1) 100%);
    color: white;
    width: 100%;
    height: 113px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
  }
  
  #navGrid {
    flex-direction: row;
    display: flex;
    align-items: center;
    gap: 30px;
  }
  
  #palitin {
    margin-top: -10px;
    font-size: 20px;
  }
  
  #nav {
    font-size: 32px;
    margin-left: 63px;
    font-family:  "Khand", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-top: 10px;
  }

  

  .diferenciado {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 26.5px;
    font-family:  "Khand", sans-serif;
    text-shadow: rgba(0, 0, 0, 0.333) 3.5px 3.5px;
  }
  
  .diferenciado:hover {
    color: black;
  }

  #logo {
    width: 145px;
    height: 91px;
  }

  #sob2{
    visibility: hidden;
}

@media (max-width:450px){
  header{
    justify-content: center;
    align-items: end;
  }
  #nav{
    margin-left: 0px;
    margin-top: 0PX;
  }
  #palitin {
   
    display: none;
  }
  #logo {
    display: none;
  }
  .diferenciado{
    font-size: 25px;
    
  }
  #navGrid {
    width: 100%;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    
  }
}